<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4-4.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Create Address Book</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'Buddies in the Address Book with Id: ' + ${AddressId} + ' are:  ' + ${BuddyList}"></p>
<h1>Create AddressBook</h1>
<form action="#" th:action="@{/createaddressbook}" method="get">
  <p><input type="submit" value="Create Another Address" /></p>
</form>
<h1>Create Buddy</h1>
<form action="#" th:action="@{/addbuddy}"  method="post">
  <p>AddressBook Id: <input type="number" th:name="id" /></p>
  <p>Name: <input type="text" th:name="name" /></p>
  <p>Phone: <input type="text" th:name="phone" /></p>
  <p>Address: <input type="text" th:name="address" /></p>
  <p><input type="submit" value="Create Buddy" /></p>
</body>
</html>